# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# TypeScript files
[*.ts]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# JavaScript files
[*.{js,mjs}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Package files
[{package.json,package-lock.json}]
indent_style = space
indent_size = 2

# Configuration files
[{tsconfig.json,eslint.config.mjs,.prettierrc.js}]
indent_style = space
indent_size = 2
