*.vsix
.vscode/**
.vscode-test/**
.vscode-dev/**
out/**
.cache/**
node_modules/**
src/**
test/**
.gitignore
.github/**
.yarnrc
renovate.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
language_examples/**
**/.hdl_checker/**
**/svls.log
esbuild.js
**/eslint.config.mjs
**/.vscode-test.*
.devcontainer/**
examples/**
build/**
scripts/**
