on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run:
    name: Upload vsix package
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm ci
      - run: xvfb-run -a npm test
        if: runner.os == 'Linux'
      - run: npm test
        if: runner.os == 'macOS'
      - run: npm run compile
      - run: ./node_modules/@vscode/vsce/vsce package
      - name: upload vsix package
        if: runner.os == 'macOS'
        uses: actions/upload-artifact@v6
        with:
          path: veriloghdl-*.vsix
