on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run:
    name: Upload vsix package
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm ci
      - name: Install dependencies (macOS)
        run: |
          brew tap chipsalliance/verible
          brew install verible
          brew install universal-ctags
          brew install icarus-verilog
          brew install verilator
        if: runner.os == 'macOS'
      - name: Install dependencies (Ubuntu)
        run: |
          sudo apt update
          sudo apt install -y iverilog verilator
          cargo install svls
          cargo install --git https://github.com/vivekmalneedi/veridian.git
        if: runner.os == 'Linux'
      - run: xvfb-run -a npm test
        if: runner.os == 'Linux'
      - run: npm test
        if: runner.os == 'macOS'
      - run: npm run compile
      - run: npx @vscode/vsce package
      - name: upload vsix package
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v6
        with:
          path: veriloghdl-*.vsix
